---
import Layout from "../Layouts/layout.astro";
---

<Layout title="About">
<main class="flex justify-center bg-[#292220] w-screen h-screen text-[#e3ddd8]">
<h1 class="pt-5 text-8xl">About</h1>
<p class="absolute mt-48 w-9/12 md:w-7/12 lg:w-6/12 xl:w-6/12">
   
Sure, here is a rephrased version of the statement:

CognetZap is more than just a tool to unblock websites in schools. We are a movement dedicated to fighting internet censorship. We believe that everyone has the right to access information freely and without restriction, and we are committed to making that a reality.

Internet censorship is a complex issue, but we believe that it is one that can be solved. We are working with other organizations to raise awareness of the issue and to develop solutions that will allow everyone to enjoy the benefits of a free and open internet.
</p>
<footer class="w-full h-16 border-white
            fixed left-0 bottom-0
            flex justify-center items-center
            text-white text-1xl
            ">
			<h1 class="flex justify-center">Created By ‎<a class="text-yellow-100">FlyNightSky</a></h1><a href="https://github.com/FlyNightSky"><img src="/github.svg" width="40" class="p-2"></a>
        </footer> 
</main>
</Layout>

<style>
    html,body{
        font-family:Satoshi;
    }
</style>