---
import Layout from "../Layouts/layout.astro";
---

<Layout title="Credit">
<main class="flex justify-center bg-[#292220] w-screen h-screen text-[#e3ddd8]">
<h1 class="pt-5 text-8xl">Credit</h1>
<p class="absolute mt-48"> <a href="https://dribbble.com/awe_uiux" class="text-blue-200">Awe_uiux</a> aibot.-AI Image Generator Landing Page(Animation Version) - Inspiration for the site<br> <br>
   <a href="https://leonardo.ai/" class="text-blue-200">Leonardo.ai</a> - Ai art for the site<br><br>
   <a href="https://chat.openai.com/auth/login" class="text-blue-200">ChatGPT</a> - Ai Chat<br><br>
   <a href="https://stablediffusionweb.com/" class="text-blue-200">stablediffusionweb</a> - Ai Art
</p>
<footer class="w-full h-16 border-white
            fixed left-0 bottom-0
            flex justify-center items-center
            text-white text-1xl
            ">
			<h1 class="flex justify-center">Created By ‎<a class="text-yellow-100">FlyNightSky</a></h1><a href="https://github.com/FlyNightSky"><img src="/github.svg" width="40" class="p-2"></a>
        </footer> 
</main>
</Layout>

<style>
    html,body{
        font-family:Satoshi;
    }
</style>