---
import Layout from "../Layouts/layout.astro";
import Maintenance from "./maintenance.astro";
---

<Maintenance/>

<!--
<Layout title="Zap">
<main class="flex justify-center bg-[#292220] w-screen h-screen text-[#e3ddd8]">
<h1 class="pt-5 text-8xl">Zap</h1>
<p class="absolute mt-48"> 
    <section class="absolute pt-48">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Need a service? ask us; we only provide proxy, ai art and ChatGPT services right now!</p>
            <form action="#" class="space-y-8">
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                    <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@example.com" required>
                </div>
                <div>
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                    <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
                </div>
                <div class="sm:col-span-2">
                    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                    <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
                </div>
                <button type="submit" class=" py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
            </form>
        </div>
      </section>
</p>
<footer class="w-full h-16 border-white
            fixed left-0 bottom-0
            flex justify-center items-center
            text-white text-1xl
            ">
			<h1 class="flex justify-center">Created By ‎<a class="text-yellow-100">FlyNightSky</a></h1><a href="https://github.com/FlyNightSky"><img src="/github.svg" width="40" class="p-2"></a>
        </footer> 
</main>
-->
<!-- mailto:streamscribe@gmail.com?subject=I%20need%20a%20service!&body=Hello%20streamscribe(FlyNightSky)%2C%20I%20am%20in%20need%20of%20a%20service%20from%20you.%20This%20service%20is%20a%20%5B%20service%20%5D%0A%0A-%20Thank%20you%20%5B%20username%20%5D -->

</Layout>


<style>
    html,body{
        font-family:Satoshi;
    }
</style>