---
import Layout from "./layout.astro";
---

<Layout title="Error: Not Found">
    <div class="bg-black absolute inset-0 h-screen flex justify-center items-center">
        <h1 id="txt404" class="text-9xl">404</h1>
        <p class="absolute pt-44 text-white"> How did you get here🤦?</p>
        <p id ="url" class="text-white absolute pt-64">URL?</p>
        <div class="bg-none transition-all absolute mt-96 text-white rounded-full border border-white p-2 hover:px-5">
            <a href="/" class="px-2"> Home </a><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="float-right w-6 h-6 relative text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
        </div>
        <footer class="w-full h-16 border-white
            fixed left-0 bottom-0
            flex justify-center items-center
            text-white text-1xl
            ">
			<h1 class="flex justify-center">Created By ‎<a class="text-yellow-100">FlyNightSky</a></h1><a href="https://github.com/FlyNightSky"><img src="/github.svg" width="40" class="p-2"></a>
        </footer> 
    </div>
    <script>
        function getUrl(){
            const insertUrl = document.getElementById('url');
            const currentUrl = window.location.href;
            insertUrl.innerHTML = currentUrl+' does not exist or was removed';
        }
        getUrl()
    </script>
    
</Layout>

<style>
    html,body{
        font-family:Satoshi;
    }
    h1{
    background: linear-gradient(342deg, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee);
    background-size: 1400% 1400%;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    -o-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@keyframes AnimationName {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
</style>